<div class="dark:bg-stone-800 bg-stone-100 px-2 pt-4">
  <div class="flex justify-center">
    <div
      class="add-blog-div w-full md:w-4/5 lg:w-3/5 rounded-md bg-gradient-to-br from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800"
    >
      <div
        class="p-1 text-lg border border-stone-200 dark:border-stone-700 rounded-md cursor-pointer"
        (click)="toggleAddBlog()"
      >
        <div class="flex justify-between items-center">
          <p>Add a Blog</p>
          <div class="flex items-center justify-center">
            <mat-icon fontIcon="expand_more" class="scale-125"></mat-icon>
          </div>
        </div>
      </div>
      <div class="add-blog-toggle hidden p-2">
        <form
          [formGroup]="blogForm"
          (ngSubmit)="
            !text?.errors && text?.touched ? addBlog(blogForm.value) : null
          "
        >
          <textarea
            class="p-1 w-full mt-3 bg-gradient-to-tr focus-within:outline shadow-md outline-stone-200 dark:outline-stone-700 from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800 rounded-md border"
            name="text"
            placeholder="What's up?"
            rows="8"
            [ngClass]="[
              text?.errors && text?.touched
                ? 'border-red-500 dark:border-red-500'
                : 'border-stone-300 dark:border-stone-600'
            ]"
            formControlName="text"
          ></textarea>
          <app-error-message
            [max]="240"
            [min]="3"
            [required]="true"
            [form]="blogForm"
            [name]="'text'"
          ></app-error-message>
          <div
            class="blogs-file bg-stone-200 dark:bg-stone-700 flex items-center justify-between rounded-md border border-stone-100 dark:border-stone-800 mt-2 p-1"
            *ngIf="file"
          >
            <p>Uploaded photo '{{ file.name }}' 🚀</p>
            <mat-icon
              fontIcon="do_not_disturb_on"
              class="text-red-500 cursor-pointer"
              (click)="removeBlogsFile()"
            ></mat-icon>
          </div>
          <div>
            <div
              (click)="openFileUpload()"
              class="p-1 inline-block cursor-pointer rounded-md my-2 bg-gradient-to-b from-stone-200 to-stone-300 dark:from-stone-800 dark:to-stone-700 border border-stone-300 dark:border-stone-800"
            >
              <p>Upload File</p>
            </div>
            <input
              type="file"
              name="file"
              id="file"
              (change)="onChange($event)"
              class="hidden file-upload bg-gradient-to-tr mb-3 dark:from-stone-700 dark:to-stone-800 from-stone-200 to-stone-100 border border-stone-300 dark:border-stone-600 w-full rounded-md p-1"
              ngModel
            />
          </div>
          <div class="relative">
            <input
              value="Add Blog"
              type="submit"
              class="cursor-pointer w-full rounded-md p-1 border border-stone-300 dark:border-stone-600 z-20 duration-300 bg-gradient-to-br from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800"
              [ngClass]="[text?.errors ? 'opacity-50' : '']"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-full md:w-4/5 lg:w-3/5">
      <div *ngIf="service.blogs">
        <div *ngFor="let blog of service.blogs">
          <app-blog [blog]="blog"></app-blog>
        </div>
      </div>
    </div>
  </div>
</div>
