<div class="dark:bg-stone-800 bg-stone-100 px-2 pt-4">
  <div class="flex justify-center">
    <div
      class="add-blog-div w-7/12 rounded-md bg-gradient-to-br from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800"
    >
      <div
        class="p-1 text-lg border border-stone-200 dark:border-stone-700 rounded-md"
      >
        <div class="flex justify-between items-center">
          <p>Add a Blog</p>
          <div
            class="hover:bg-stone-200 dark:hover:bg-stone-700 rounded-full p-1"
            (click)="toggleAddBlog()"
          >
            down
          </div>
        </div>
      </div>
      <div class="add-blog-toggle hidden">
        <textarea
          class="p-1 w-full mt-3 bg-gradient-to-tr focus-within:outline outline-stone-200 dark:outline-stone-700 from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800 rounded-md border border-stone-200 dark:border-stone-700"
          name="text"
          placeholder="What's up?"
          rows="8"
        ></textarea>
        <input
          type="submit"
          value="Add Blog"
          class="bg-gradient-to-br from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800 rounded-md p-1 border border-stone-300 dark:border-stone-600"
        />
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div *ngIf="service.blogs">
      <div *ngFor="let blog of service.blogs">
        <app-blog [blog]="blog"></app-blog>
      </div>
    </div>
  </div>
</div>
