<body [class.dark]="service.darkMode == 'true'">
  <div
    class="text-black dark:text-white min-h-screen bg-stone-100 dark:bg-stone-800"
  >
    <app-header></app-header>
    <div>
      <div
        class="mobile-sidebar hidden z-10 p-8 fixed w-full h-full top-[48px] bg-gradient-to-tr mb-3 bg-stone-100 dark:bg-stone-800"
      >
        <a
          routerLink="/"
          (click)="service.toggleMobileSidebar()"
          class="blogs-sidebar flex items-center gap-2 p-2 mt-4 w-fit"
        >
          <div
            class="blog-sidebar-hover bg-stone-800 dark:bg-stone-200 dark:text-black text-white"
          >
            /blogs
          </div>
          <div class="flex items-center">
            <mat-icon fontIcon="chat" class="scale-125"></mat-icon>
          </div>
          <p class="text-xl">Blogs</p>
        </a>
        <a
          routerLink="/"
          class="w-fit flex bookmarks-sidebar items-center gap-2 mt-8 p-2"
          (click)="service.toggleMobileSidebar()"
        >
          <div
            class="bookmarks-sidebar-hover bg-stone-800 dark:bg-stone-200 dark:text-black text-white"
          >
            /bookmarks
          </div>
          <div class="flex items-center">
            <mat-icon fontIcon="bookmark" class="scale-125"></mat-icon>
          </div>
          <p class="text-xl">Bookmarks</p>
        </a>
      </div>
      <router-outlet></router-outlet>
      <div
        class="up-button items-center hidden justify-center cursor-pointer bg-stone-200 dark:bg-stone-700 border border-stone-300 dark:border-stone-600 shadow rounded-full fixed right-4 bottom-4 w-9 h-9"
        (click)="scrollToTop()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="less-icon"
          fontIcon="expand_less"
          style="width: auto; height: auto"
        ></mat-icon>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>
