<div class="px-5">
  <div
    class="big-profile-picture bg-stone-300/60 dark:bg-stone-700/60 fixed top-[48px] left-0 w-full hidden h-full"
  >
    <div class="flex justify-center items-center h-full">
      <mat-icon
        fontIcon="close"
        (click)="toggleBigProfilePicture()"
        class="scale-125 rounded-full cursor-pointer right-5 top-5 absolute hover:bg-stone-200 dark:hover:bg-stone-700 p-1"
      ></mat-icon>
      <img
        *ngIf="service.profile?.profilePic"
        src="http://127.0.0.1:8000{{ service.profile.profilePic }}"
        class="w-72 h-72 rounded-full border-2 border-stone-200 dark:border-stone-700 -mt-10"
        alt="{{ service.profile.user.username }}"
      />
      <img
        *ngIf="!service.profile?.profilePic"
        src="https://www.themoviedb.org/t/p/w235_and_h235_face/2PZdxQPP69RguOmZZvkrtBJrBWm.jpg"
        class="w-72 h-72 rounded-full border-2 border-stone-200 dark:border-stone-700 -mt-10"
      />
    </div>
  </div>
  <div
    class="bg-gradient-to-bl dark:from-stone-800 dark:to-stone-700 from-stone-200 to-stone-100 rounded-md border mt-4 p-2 dark:border-stone-700 border-stone-200"
  >
    <div class="flex gap-3">
      <img
        *ngIf="service.profile?.profilePic"
        (click)="toggleBigProfilePicture()"
        src="http://127.0.0.1:8000{{ service.profile.profilePic }}"
        class="w-10 h-10 cursor-pointer rounded-full border border-stone-200 dark:border-stone-700"
      />
      <img
        *ngIf="!service.profile?.profilePic"
        (click)="toggleBigProfilePicture()"
        src="https://www.themoviedb.org/t/p/w235_and_h235_face/2PZdxQPP69RguOmZZvkrtBJrBWm.jpg"
        class="w-10 h-10 cursor-pointer rounded-full border border-stone-200 dark:border-stone-700"
      />
      <div>
        <div class="flex items-center gap-4 pt-1">
          <p class="text-lg" *ngIf="service.profile">
            {{ service.profile.user.username }}
          </p>
          <button
            class="bg-gradient-to-tl from-stone-200 to-slate-100 opacity-50 dark:from-stone-700 dark:to-stone-800 border border-stone-200 dark:border-stone-700 px-1 rounded-md"
            *ngIf="service.user?.profile?.user?.id == service.profile?.user?.id"
          >
            Follow
          </button>
          <button
            class="bg-gradient-to-tl from-stone-200 to-slate-100 dark:from-stone-700 dark:to-stone-800 border border-stone-200 dark:border-stone-700 px-1 rounded-md"
            *ngIf="
              service.user?.profile?.user?.id != service.profile?.user?.id &&
              service.profile?.followers?.includes(
                service.user?.profile?.user?.id
              )
            "
            (click)="service.followProfile(service.profile.user.id)"
          >
            Following
          </button>
          <button
            class="bg-gradient-to-tl from-stone-200 to-slate-100 dark:from-stone-700 dark:to-stone-800 border border-stone-200 dark:border-stone-700 px-1 rounded-md"
            *ngIf="
              service.user?.profile?.user?.id != service.profile?.user?.id &&
              !service.profile?.followers?.includes(
                service.user?.profile?.user?.id
              )
            "
            (click)="service.followProfile(service.profile.user.id)"
          >
            Follow
          </button>
        </div>

        <p class="pt-2" *ngIf="service.profile">
          {{ service.profile.description }}
        </p>
        <div class="flex items-center gap-4">
          <!-- Followers -->
          <div class="flex items-center gap-2">
            <p class="italic text-blue-400" *ngIf="service.profile">
              {{ service.profile.followers.length }}
            </p>
            <p>Followers</p>
          </div>
          <!-- Followers -->
          <div class="flex items-center gap-2">
            <p class="italic text-blue-400" *ngIf="service.profile">
              {{ service.profile.following.length }}
            </p>
            <p>Following</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
