<div class="px-3">
  <div *ngIf="service.ActionMovies">
    <h2 class="text-lg font-semibold pt-5">Action Movies</h2>
    <div class="flex items-center flex-wrap justify-between">
      <div *ngFor="let movie of service.ActionMovies">
        <app-movie [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
  <div *ngIf="!service.ActionMovies">
    <p>filmler gelmedi</p>
  </div>
  <div *ngIf="service.ComedyMovies">
    <h2 class="text-lg font-semibold pt-5">Comedy Movies</h2>
    <div class="flex items-center flex-wrap justify-between">
      <div *ngFor="let movie of service.ComedyMovies">
        <app-movie [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
  <div *ngIf="!service.ComedyMovies">
    <p>filmler gelmedi</p>
  </div>
  <div *ngIf="service.FightingMovies">
    <h2 class="text-lg font-semibold pt-5">Fighting Movies</h2>
    <div class="flex items-center flex-wrap justify-between">
      <div *ngFor="let movie of service.FightingMovies">
        <app-movie [movie]="movie"></app-movie>
      </div>
    </div>
  </div>
  <div *ngIf="!service.FightingMovies">
    <p>filmler gelmedi</p>
  </div>
</div>
