@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";
@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";
body {
  margin-bottom: 0 !important;
  scroll-behavior: smooth;
}

.mat-icon {
  height: auto !important;
  width: auto !important;
  font-size: 18px;
}

.search-icon {
  width: 21px;
  height: 21px;
  font-size: 21px;
}

.blog-sidebar-hover {
  width: 0px;
  opacity: 0;
  padding: 4px;
  transition: 0.3s;
}

.blogs-sidebar:hover .blog-sidebar-hover {
  opacity: 1;
  width: 100%;
  transition: 0.3s;
}

.bookmarks-sidebar-hover {
  width: 0px;
  padding: 4px;
  transition: 0.3s;
  opacity: 0;
}

.bookmarks-sidebar:hover .bookmarks-sidebar-hover {
  opacity: 1;
  width: 100%;
  transition: 0.3s;
}

.bracelet-div {
  position: relative;
}

.bracelet-div p::after {
  content: "";
  opacity: 0;
  transition: 0.3s;
  margin: 10px;
  position: absolute;
  right: -12px;
  top: -10px;
}

.bracelet-div p::before {
  content: "";
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: -2px;
}

.bracelet-div p:hover::before {
  transition: 0.3s;
  left: -6px;
  content: "{";
  opacity: 1;
}

.bracelet-div p:hover::after {
  right: -16px;
  top: -10px;
  bottom: 0;
  content: "}";
  transition: 0.3s;
  opacity: 1;
}

.validation-success {
}

.validation-success::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 90, 20);
  border-radius: 6px;
  transition: transform 0.6s;
  z-index: 10;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  scale: 0;
}

.validation-success:hover::before {
  scale: 1;
}

.validation-success:hover {
  color: white !important;
}
