@import "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-bottom: 0 !important;
  scroll-behavior: smooth;
}

.mat-icon {
  height: auto !important;
  width: auto !important;
  font-size: 18px;
}

.search-icon {
  width: 21px;
  height: 21px;
  font-size: 21px;
}

.blog-sidebar-hover {
  width: 0px;
  opacity: 0;
  padding: 4px;
  transition: 0.3s;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-container:empty {
  display: none;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.6;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-transparent-backdrop {
  transition: visibility 1ms linear, opacity 1ms linear;
  visibility: hidden;
  opacity: 1;
}
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
  visibility: visible;
}
.cdk-overlay-backdrop-noop-animation {
  transition: none;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}
.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: #616161;
  --mdc-plain-tooltip-supporting-text-color: white;
}
.mat-mdc-tooltip {
  --mdc-plain-tooltip-supporting-text-font: Roboto, sans-serif;
  --mdc-plain-tooltip-supporting-text-size: 12px;
  --mdc-plain-tooltip-supporting-text-weight: 400;
  --mdc-plain-tooltip-supporting-text-tracking: 0.0333333333em;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.6);
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgba(255, 255, 255, 0.87);
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0;
}
[dir="rtl"] .cdk-visually-hidden {
  left: auto;
  right: 0;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.blogs-sidebar:hover .blog-sidebar-hover {
  opacity: 1;
  width: 100%;
  transition: 0.3s;
}

.bookmarks-sidebar-hover {
  width: 0px;
  padding: 4px;
  transition: 0.3s;
  opacity: 0;
}

.bookmarks-sidebar:hover .bookmarks-sidebar-hover {
  opacity: 1;
  width: 100%;
  transition: 0.3s;
}

.bracelet-div {
  position: relative;
}

.bracelet-div p::after {
  content: "";
  opacity: 0;
  transition: 0.3s;
  margin: 10px;
  position: absolute;
  right: -12px;
  top: -10px;
}

.bracelet-div p::before {
  content: "";
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: -2px;
}

.bracelet-div p:hover::before {
  transition: 0.3s;
  left: -6px;
  content: "{";
  opacity: 1;
}

.bracelet-div p:hover::after {
  right: -16px;
  top: -10px;
  bottom: 0;
  content: "}";
  transition: 0.3s;
  opacity: 1;
}

.validation-success {
}

.validation-success::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 90, 20);
  border-radius: 6px;
  transition: transform 0.6s;
  z-index: 10;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  scale: 0;
}

.validation-success:hover::before {
  scale: 1;
}

.validation-success:hover {
  color: white !important;
}
