@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-toastr/toastr";
@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";
body {
  margin-bottom: 0 !important;
  scroll-behavior: smooth;
}

.mat-icon {
  height: auto !important;
  width: auto !important;
  font-size: 18px;
}

.search-icon {
  width: 21px;
  height: 21px;
  font-size: 21px;
}
