<div
  class="dark:text-white text-black dark:bg-stone-700 p-4 bg-stone-200 rounded-md mt-3 bg-gradient-to-tr from-stone-200 to-stone-100 dark:from-stone-700 dark:to-stone-800 border border-stone-200 dark:border-stone-700"
>
  <a routerLink="/blog/{{ blog.id }}">
    <div class="profile flex items-center gap-2 h-10">
      <div *ngIf="blog?.profile?.profilePic">
        <img
          src="http://127.0.0.1:8000{{ blog.profile.profilePic }}"
          class="w-10 h-10 rounded-full"
        />
      </div>
      <div *ngIf="!blog?.profile?.profilePic">
        <img
          src="https://www.themoviedb.org/t/p/w235_and_h235_face/2PZdxQPP69RguOmZZvkrtBJrBWm.jpg"
          class="w-10 h-10 rounded-full"
        />
      </div>
      <div>
        {{ blog.profile.user.username }}
      </div>
      <div>•</div>
      <div>{{ blog.updated | timeAgo }}</div>
    </div>
    <h4 class="mt-5">{{ blog.text }}</h4>
    <div *ngIf="blog.file">
      <img
        src="http://127.0.0.1:8000{{ blog.file }}"
        class="lg:w-2/5 w-3/5 mt-1 rounded-md"
      />
    </div>
  </a>
  <div class="interaction">
    <div
      class="border-t w-full dark:border-stone-700 border-stone-200 mt-3 mb-1"
    ></div>
    <div class="interactions flex items-center justify-around flex-wrap">
      <!-- Comments -->
      <div class="flex items-center">
        <mat-icon
          aria-hidden="false"
          aria-label="chat-icon"
          fontIcon="chatbubble"
        ></mat-icon>
        <span> 24 </span>
      </div>
      <!-- Likes -->
      <div class="flex items-center">
        <mat-icon
          aria-hidden="false"
          aria-label="favorite-icon"
          fontIcon="favorite"
        ></mat-icon>
        <span>
          {{ blog.likes?.length || "0" }}
        </span>
      </div>
    </div>
    <div
      class="border-t w-full dark:border-stone-700 border-stone-200 mt-1"
    ></div>
  </div>
</div>
